# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/sma_alfalah_banjaran?schema=public"

# Authentication (Custom JWT Secret)
JWT_SECRET="your-secure-jwt-secret-key-at-least-32-characters"

# App Public URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
